<h1>新增文章</h1>
<%= render 'form' %>

<%#= form_for @post do |f| %>
  <%#= f.text_field :title %>
  <%#= f.text_area :content %>
  <%#= f.submit %>
<%# end %>
<%#= form_tag posts_path do %>
  <%#= text_field_tag :title %>
  <%#= text_area_tag :content %>
  <!--<input type='submit'>-->
<%# end %>
